{% extends 'base.html' %}

{% block body %}
<style>
    @media screen and (max-width: 768px) {
        .outer {
            flex-direction: column;
            padding: 0px !important;
        }
    }
    @media screen and (max-width: 768px) {
        .inner-text {
            margin-right: 0px !important;
        }
    }
        
</style>
<div style="padding: 20px;">
    <h2><strong>About Us</strong></h2>
    <br>
    <br>
    <div class="outer" style="display: flex; align-items: center; justify-content: center; flex: 0.6; padding: 20px; margin-bottom: 50px;">
        <div style="margin-right: 110px;" class="inner-text">

            <p>
                <strong>Our Mission</strong>
            </p>
            <p>
                Our mission is to provide the most accurate and up-to-date traffic information to help you avoid traffic jams,
                get to your destination on time, and make the most of your time on the road.
            </p>
        </div>
        <img  style="flex: 0.4; width: 400px; border-radius: 20px;" src="https://images.unsplash.com/photo-1513759565286-20e9c5fad06b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
    </div>
    

    <div class="outer" style="display: flex; align-items: center; justify-content: center; flex: 0.6; padding: 20px; margin-bottom: 50px; ">
        <div style="margin-right: 110px;" class="inner-text">

            <p>
                <strong>Our History</strong>
            </p>
            <p>
                Sganyfc.com was founded in 2008 by a group of friends who were frustrated with the lack of accurate and
        up-to-date traffic information available. We set out to change that, and today we are the leading provider of
        traffic information in the United States.
            </p>
        </div>
        <img  style="flex: 0.4; width: 400px; border-radius: 20px;" src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
    </div>
    

    <div class="outer" style="display: flex; align-items: center; justify-content: center; flex: 0.6; padding: 20px; margin-bottom: 50px;">
        <div style="margin-right: 110px;" class="inner-text">

            <p>
                <strong>Our team</strong>
            </p>
            <p>
                Our team of traffic experts are constantly monitoring the roads and updating our traffic information in
                real-time. This way, you can be sure that you always have the most accurate and up-to-date information to help
                you avoid traffic jams and get to your destination on time.
            </p>
        </div>
        <img  style="flex: 0.4; width: 400px; border-radius: 20px;" src="https://images.unsplash.com/photo-1473042904451-00171c69419d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1798&q=80" alt="">
    </div>


    <div class="outer" style="display: flex; align-items: center; justify-content: center; flex: 0.6; padding: 20px; margin-bottom: 50px; ">
        <div style="margin-right: 110px;" class="inner-text">

            <p>
                <strong>Our commitment to you</strong>
            </p>
            <p>
                We are committed to providing you with the best traffic information available, and we will continue to work hard
                to make sure that you have the information you need to make the most of your time on the road.
            </p>
        </div>
        <img  style="flex: 0.4; width: 400px; border-radius: 20px;" src="https://images.unsplash.com/photo-1598015132635-131afe3ba07f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
    </div>

    <div class="outer" style="display: flex; align-items: center; justify-content: center; flex: 0.6; padding: 20px; margin-bottom: 50px;">
        <div style="margin-right: 110px;" class="inner-text">

            <p>
                <strong>More About Us</strong>
            </p>
            <p>
                SgAnyFc is a one-stop destination for latest updates on Singapore custom traffic and currency conversion rates. The site also provides regular updates on the Malaysia stock market and other financial news.
            </p>
            <p>
                SgAnyFc was started in 2022 with the aim of providing accurate and timely information on the Singapore stock market and other financial news. We have since expanded our coverage to include regular updates on the Malaysia stock market and currency conversion rates.
            </p>
            <p>
                We provide real-time traffic updates and route planning so that drivers can avoid congestion and arrive at their destination on time. We started out as a small team of passionate engineers and developers who wanted to make a difference in the lives of drivers in Singapore. We're now one of the most popular traffic apps in the country, and we're constantly expanding our features and services to better serve our users.
            </p>
        </div>
        <img  style="flex: 0.4; width: 400px; border-radius: 20px;" src="https://images.unsplash.com/photo-1465447142348-e9952c393450?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="">
    </div>

</div>
{% endblock body %}